<div class="wrapper">
  <div class="one">
    <div>
      <fa class="fa fa-github fa-3x"></fa>
    </div>
    <div>
      <a href="https://github.com/IsaacYocum"
         target="_blank">GitHub</a>
    </div>
  </div>
  <div class="two">
    <div>
      <fa class="fa fa-linkedin-square fa-3x"></fa>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/isaacyocum/"
         target="_blank">LinkedIn</a>
    </div>
  </div>
  <div class="three">
    <div>
      <fa class="fa fa-github fa-3x"></fa>
    </div>
    <div>
      <a href="#">Source Code</a>
    </div>
  </div>
</div>
<hr>

<label>I live in Orem!</label>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48689.88563167679!2d-111.73048197773893!3d40.29534213672064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d7804e4b45119%3A0x642bc3cf90b21ed1!2sOrem%2C+UT!5e0!3m2!1sen!2sus!4v1533411858918" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


